<style type="text/css">

.warning {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

ul.no-bullets {
  list-style-type: none;
}

table, th, td {
  margin: 10px;
  padding: 10px;
  border:  1px solid;
  border-collapse: collapse;
}

caption {
  font-weight: bold;
}

</style>